.flexcontainer { display: flex; flex-direction: row; flex-wrap: wrap; }
.flexcontainer__block { 
    background: green; 
    border: 1px solid white !important;
    width: 200px; 
    height: 200px; 
    margin: 100px;
}
.flexcontainer__block--red { background: red }

.container {
    justify-content: center;
    width: 100%;
}

.container__text { 
    font-size: 1.5 em;
    color: blue;
}

/*

* {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}

*:not(path):not(g) {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}

[class] {
outline: 5px solid lightgrey;
}

[class*="__"] {
outline: 5px solid grey;
}


[class*="--"] {
outline: 5px solid darkgrey;
}

[class^="o-"],
[class*=" o-"] {
outline: 5px solid orange;
}


[class^="c-"],
[class*=" c-"] {
outline: 5px solid cyan;
}

[class*="@"] {
outline: 5px solid rosybrown;
} */
